Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [7]:
Str="hey"
print(Str)
li=[1,2,4,8,7,9]
print(li)
fl=(1.1,1.2,1.3)
print(fl)
t=("data", "tyope" , "rakshu", "thakre")
print(t)

hey
[1, 2, 4, 8, 7, 9]
(1.1, 1.2, 1.3)
('data', 'tyope', 'rakshu', 'thakre')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [27]:
var1=''
type(var1)

str

In [21]:
var2='[DS,ML,PYTHON]'
type(var2)

str

In [25]:
var3=[ 'DS' , 'ML', 'Python' ] 
type(var3)

list

In [26]:
var4=1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

 / = it is syambol of the comment

In [30]:
# this is comment

% = modulo opperator is an arithmetic operator which is use to find remender.

In [ ]:
a = 12
b = 6
print(a%b)

// = divide opperator is an arithmetic operator which is use to find divide.

In [33]:
a = 12
b = 4
print(a//b)

3

** =  power opperator is an arithmetic operator which is use to find exponential function .

In [34]:
a = 17
b = 6
print(a**b)

24137569

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [38]:
 li=[1,"hr",4,"re",5,6,7,8,"he","krrr"]
for i in li :
        print(type(i))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [40]:
li = [1,2,3,4,5,6,7,7,8,9,9,12,13,24,55,33,66,77,45,4,6,8,8,7,6,5,7,7,75,5,5,6,7,8,8,67,65,5,66,74]
for i in li :
    if i%3==0:
        print("yes")
    else:
        print("no")

no
no
yes
no
no
yes
no
no
no
yes
yes
yes
no
yes
no
yes
yes
no
yes
no
yes
no
no
no
yes
no
no
no
yes
no
no
yes
no
no
no
no
no
no
yes
no

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable data is the data in which we can chnage the data after the creating anything is called mutable data.
immutable dtata is the data in which we can not chnage the data ater the creating of data .